[Desktop Entry]
Type=Application
Name=MusicBee
Exec=env WINEPREFIX="${HOME}/.wine32-MusicBee" WINEDEBUG="-all" wine "C:/Program Files/MusicBee/MusicBee.exe"
StartupNotify=true
